{% extends 'base.html' %}
{% block title %} Tasks Details {% endblock title %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href={% static "todo_s/task_detail.css" %}>
{% endblock style %}


{% block content %}
	<div class="container group">
		<div class="grid-1-5">
			<h2>Details</h2>
			<h3><span class="uppercase">Time: {{task.date_added}}</span></h3>
			<h1 style="color:rgb(199, 10, 126)">
                Category:
                {% for c in task.category.all %}
                 {{c}}
                {% endfor %}
            </h1>
			<ul>
				<li><h1>Title :{{task.title}} </h1></li>
				<li>priority: {{task.priority}}</li>
				<li>Description: {{task.description}}</li>
			</ul>
			<a href="{% url 'tasks' %}" class="button">Back</a>
		</div>
    </div>
{% endblock content %}


